

.handle{
	cursor: move;
}

input[type="text"]{
	width:80%;							
	border: 1px solid #459E00;
	padding:2px;
	
}
input[type="submit"]{

	padding:2px;
	
}

input:hover{
	border: 1px solid #327E04;
}

#map{
	min-height:450px;
	height: 70%;
	min-width: 450px;
	width: 50%;
	margin:0 auto;
}
#sortable{
	padding:0;
/*	min-width:240px;
	width:25%;*/
	list-style-type: none;
}
#search_bar{
	min-width:240px;
	width:25%;
	list-style-type: none;
}
.delete{
	cursor: pointer;
}
#new_location, #calc_route{
	padding:2px;
	color: white;
}
#new_location:hover, #calc_route:hover{
	text-decoration: none;
}