



<% if signed_in? %>
    <%= render 'shared/ride_form' %>

    <div class="sidebar round">
      <%= render 'shared/user_info' %>
    </div>

<% else %>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>

