<!-- this is the standard accordion layout for jQuery UI. See their demo page for details. -->

<h3><a href="#">Ride Title</a></h3>

<div class="ride" id="<%= ride.id %>">
<!-- content is loaded lazily through ajax -->
</div>

