<footer>
  <nav id="bottom_nav" class="round">
    <ul>
      <li class="ui-state-default round"><%= link_to "About", about_path %></li>
      <li class="ui-state-default round"><%= link_to "Contact", contact_path %></li>
      <li class="ui-state-default round"><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>

